h1 Create
form.well.container#createForm(ng-submit="vm.create()")
  label First Name: 
  input.form-control(ng-model="vm.player.firstName")
  br
  label Last Name:
  input.form-control(ng-model="vm.player.lastName")
  br
  label Age: 
  input.form-control(ng-model="vm.player.age")
  br
  label Sport: 
  input.form-control(ng-model="vm.player.sport")
  br
  label Position: 
  input.form-control(ng-model="vm.player.position")
  br
  label Height: 
  input.form-control(ng-model="vm.player.height")
  br
  label Weight: 
  input.form-control(ng-model="vm.player.weight")
  br
  label Number: 
  input.form-control(ng-model="vm.player.number") 
  br
  label Image: 
  input.form-control(ng-model="vm.player.image")
  br
  label Team Name: 
  input.form-control(ng-model="vm.player.teamName")
  br
  label College: 
  input.form-control(ng-model="vm.player.college")
  br
  label Nationality: 
  input.form-control(ng-model="vm.player.nationality")
  br
  button.btn.btn-success Submit
